<app-navigationlinks>
    <a [routerLink]="'./add'" title="Add area">
        <button mat-raised-button color="primary"><mat-icon>add</mat-icon>Add Area</button>
    </a>
    <a [routerLink]="'./'" title="List area">
        <button mat-raised-button color="primary"><mat-icon>list_alt</mat-icon>List Area</button>
    </a>
    <a [routerLink]="'./'" title="Edit area">
        <button mat-raised-button color="primary"><mat-icon>edit</mat-icon>Edit Area</button>
    </a>
</app-navigationlinks>
<router-outlet></router-outlet>
