<app-navigationlinks>
    <a [routerLink]="'./add'" title="Add system">
        <button mat-raised-button color="primary"><mat-icon>add</mat-icon>Add System</button>
    </a>
    <a [routerLink]="'./'" title="List Systems">
        <button mat-raised-button color="primary"><mat-icon>list_alt</mat-icon>List System</button>
    </a>
    <a [routerLink]="'./'" title="Edit System">
        <button mat-raised-button color="primary"><mat-icon>edit</mat-icon>Edit System</button>
    </a>
</app-navigationlinks>
<router-outlet></router-outlet>