<app-header>
    <!-- transclusion content -->
    <a href="/accounts"><img class="logo" src="https://cdn.siemens-web.com/images/logo-collection/2.0/sie-logo-petrol-rgb.svg"
            alt="" srcset=""></a>
    <heading [content]="'Siemens Device Management'" style="color: white;"></heading>
</app-header>
<router-outlet></router-outlet>
<!-- <app-accounts></app-accounts> -->
<!-- <mat-tab-group>
    <mat-tab label="Login Page">
        <div>
            <login></login>
        </div>
    </mat-tab>
    <mat-tab label="Signup Page">
        <signup></signup>
    </mat-tab>
    <mat-tab label="Feedback Page">
        <app-feedback></app-feedback>
    </mat-tab>
</mat-tab-group> -->
<!-- <div class="container">
        <login></login> 
        <signup></signup>
        <app-feedback></app-feedback>
    </div> -->
<copyright [footercontent]="footer"></copyright>